#gnb {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  width: 100%;
}

#gnb .menu {
  display: flex;
  position: relative;
  align-items: center;
}

.bottom a {
  position: relative;
  z-index: 1001;
  margin: -9px 14px 0 0;
  width: 52px;
  height: 52px;
  background: none;
}

.menu .bottom {
  margin: 0 130px 0 0;
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  justify-content: flex-end;
  position: relative;
  padding: 10px;
  align-items: center;
}

.menu .sub {
  display: none;
}

ul.menu li {
  padding-top: 40px;
  position: relative;
  float: left;
  font-size: 14px;
  margin: 0 0 0 22px;
}

.menu li a {
  padding: 10px;
  text-decoration: none;
  color: #000;
  border-radius: 50px;
  background: #f1e9c3;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
}

.menu a:hover {
  background-color: #305440;
  color: #fff;
  text-decoration: underline;
}

.menu .top:hover .sub {
  display: block;
  position: absolute;
  top: 70px;
  left: -30px;
  transition: background-color 0.3s, color 0.3s;
  font-size: 14px;
  color: #fff;
  white-space: nowrap;
  background: #305440;
  opacity: 0.8;
  padding-bottom: 20px;
}

.menu .top:hover .sub li a {
  top: -10px;
  color: #fff;
  background: none;
}